<ion-content class="opacity-0 animate-fade-in">
    @if (bmi() !== null) {
    <section class="pt-20">
        <app-bmichart [bmi]="bmi()" />
        <app-bmicategories [bmi]="bmi() ?? 0" />
        <p class="text-xs text-slate-600 py-6 px-5 text-center">
            {{ 'TAB2.MESSAGE' | translate }}
        </p>
    </section>
    }@else {
    <section class="h-full flex flex-col justify-center items-center">
        <p class="w-64 text-center text-2xl text-slate-600 font-semibold text-pretty">
            {{ 'TAB2.ALERT' | translate }}
        </p>
        <ion-button class="mt-6 button-shadow w-40 h-12" (click)="openModal()" (keypress)="openModal()" style="--border-radius: 18px">
            {{ 'TAB2.BUTTON_HEIGHT' | translate }}
        </ion-button>
    </section>
    }
</ion-content>
