<ion-content class="opacity-0 animate-fade-in">
    <section class="h-full w-full flex flex-col items-center space-y-4">
        <div class="w-full max-w-2xl pt-14 pb-4 my-10 flex flex-col items-center space-y-4">
            @for (weight of reversedRegisters(); track weight; let i = $index) {
            <app-item-register
                class="w-full px-2"
                [id]="i"
                [weight]="weight"
                [progress]="weight.progress"
                (deleteWeight)="confirmDelete($event)"
                (entryClick)="openModal($event)"
            />
            }
        </div>
    </section>
</ion-content>
