<ion-header class="bg-transparent">
    <ion-toolbar class="bg-transparent">
        <ion-buttons slot="start">
            <ion-button class="w-24" color="medium" (click)="cancel()">
                {{ step() === 0 ? 'Cancel' : 'Back' }}
            </ion-button>
        </ion-buttons>
        <ion-title class="text-center font-sans font-semibold text-sm">
            Weights Register
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="w-24" (click)="confirm()" [strong]="true" color="primary">
                {{ step() === 0 ? 'Next' : 'Confirm' }}
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content scrollY="false" class="bg-inherit">
    @if (step() === 0) {
    <div class="h-full bg-white flex flex-col items-center">
        <header class="ion-text-center bg-inherit">
            <h1 class="font-sans font-semibold text-lg">Register your weight</h1>
        </header>
        <ion-picker class="w-full bg-transparent">
            <ion-picker-column class="bg-transparent flex space-x-4" [value]="lastWeight()"
                (ionChange)="updateActualWeight($event.detail.value)">
                @for (item of weightOptions; track $index) {
                <ion-picker-column-option [value]="item" class="bg-transparent text-2xl m-5">
                    {{ item }}
                </ion-picker-column-option>
                }
                <div class="text-2xl" slot="suffix">{{ lastWeightUnit() }}</div>
            </ion-picker-column>
        </ion-picker>
    </div>
    }

    @if (step() === 1) {
    <div class="flex flex-col gap-y-4 items-center h-full bg-white">
        <header>
            <h1 class="text-center font-sans font-semibold text-lg">Pick the date</h1>
        </header>
        <ion-datetime class="bg-transparent w-full text-lg" locale="en-US"
            (ionChange)="updateActualDate($event.detail.value)" presentation="date" />
    </div>
    }
</ion-content>
