<app-modal-header (outputStep)="controlSteps($event)" />
<ion-content style="--ion-background-color: linear-gradient(to top, #6ee7b7, #d1fae5)">
    <section class="h-full w-full flex flex-col items-center justify-center text-center pb-6">

        <h1 class="font-sans font-semibold text-4xl mt-8 mb-0">{{ 'MODALS.USER_MODAL.TITLE' | translate }}</h1>

        <app-user-form class="pt-8 mx-2" [inputUser]="inputUser()" (setUser)="setUser($event)"/>

        <div class="p-3 flex flex-col items-center space-y-3">
            @if (user()?.goal_weight) {
                <div class="flex items-center pl-6">
                    <p>
                        {{ 'MODALS.USER_MODAL.WEIGHT_GOAL' | translate }}: {{ user()?.goal_weight }}
                        {{ user()?.goal_units }}
                    </p>
                    <button (click)="deleteGoal()" (keypress)="deleteGoal()" class="h-5 w-5 rounded-md ml-2 bg-red-600">
                        <ion-icon name="add" class="text-red-50 text-sm p-0" src="assets/icons/trash.svg"></ion-icon>
                    </button>
                </div>
                @if (isGoalDate()) {
                    <p>{{ 'KEY_WORDS.DATE' | translate }}: {{ user()?.goal_date | date: 'dd/MM/yyyy' }}</p>
                }
            }
            <ion-button
                id="goalBtn"
                class="w-40 my-4"
                style="--border-radius: 18px"
                color="primary"
                (click)="openModal()"
                (keypress)="openModal()"
                [disabled]="isButtonActive()"
            >
                {{ 'MODALS.USER_MODAL.SET_WEIGHT_GOAL' | translate }}
            </ion-button>
        </div>
    </section>
</ion-content>
