<section class="card flex items-center justify-center flex-col space-y-6 mt-10">
    <article class="max-w-3xl w-96">
        <p-chart #chart id="doughnutChart" type="doughnut" [data]="data" [options]="options" [plugins]="plugins()"
            class="w-full" />
    </article>
    <article class="flex justify-center items-center space-x-10 pb-4">
        <ion-card
            class="bg-tertiary rounded-xl text-center space-y-1 w-36 h-[6.8rem] shadow-md border-secondary border-2 flex flex-col items-center justify-center">
            <h1 class="text-teal-800 font-sans text-xs font-bold m-0">Starting Weight</h1>
            <p id="startingWeight" class="text-xl text-gray-900 font-bold">
                {{firstWeight()?.weight}}
                {{firstWeight()?.weight_units}}
            </p>
            <span id="startingDate" class="text-xs text-teal-800 font-semibold">
                {{firstWeight()?.date | date: 'dd/MM/yyyy'}}
            </span>
        </ion-card>

        <ion-card
            class=" bg-tertiary rounded-xl text-center space-y-1 w-36 h-[6.8rem] shadow-md border-secondary border-2 flex flex-col items-center justify-center">
            <h1 class="text-teal-800 font-sans text-xs font-bold m-0">Goal Weight</h1>
            @if (goal()?.weight) {
            <p id="goalWeight" class="text-xl text-gray-900 font-bold">
                {{goal()?.weight}}
                {{goal()?.weight_units}}
            </p>
            <span id="goalDate" class="text-xs text-teal-800 font-semibold">
                {{ goal()?.date ? (goal()?.date | date: 'dd/MM/yyyy') : 'No deadline' }}
            </span>
            }@else{
            <p class="text-base text-teal-900 text text-balance">No Goal<br>Selected</p>
            }
        </ion-card>
    </article>

    <ion-button id="registerBtn" class="button-shadow w-40 h-12" style="--border-radius: 18px" (click)="openModal()"
        (keypress)="openModal()" [disabled]="isButtonActive()">
        Register Weight
    </ion-button>

</section>
