<ion-header class="bg-transparent">
    <ion-toolbar class="bg-transparent">
        <ion-buttons slot="start">
            <ion-button class="w-24" color="medium" (click)="cancel()"> Cancel </ion-button>
        </ion-buttons>
        <ion-title class="text-center font-sans font-semibold text-sm"> Register Weight </ion-title>
        <ion-buttons slot="end">
            <ion-button class="w-24" (click)="confirm()" [strong]="true" color="primary"> Confirm </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content scrollY="false" class="bg-inherit">
    <div class="h-full bg-gradient-to-tr from-emerald-100 to-emerald-300 flex flex-col items-center space-y-5">
        <header class="ion-text-center bg-inherit mt-10 mb-5">
            <h1 class="font-sans font-semibold text-4xl mb-5">Set the weight</h1>
            <h2 class="text-center text-emerald-800 text-base italic mt-2">
                Every step counts. <br />Let’s reach your goal together.
            </h2>
        </header>
        <form
            class="w-10/12 bg-white rounded-3xl shadow-2xl border-t-8 border-b-8 border-r-4 border-l-4 border-emerald-500 p-10 pb-14"
        >
            <app-weight-form
                [inputWeightValue]="lastWeight()"
                [inputWeightUnit]="lastWeightUnit()"
                (outputWeightValue)="updateActualWeight($event)"
            />

            <ion-datetime-button datetime="datetime" class="mt-5" />

            <ion-modal [keepContentsMounted]="true" [breakpoints]="[0, 1]" initialBreakpoint="1">
                <ng-template>
                    <ion-datetime
                        id="datetime"
                        presentation="date-time"
                        locale="en-US"
                        hour-cycle="h23"
                        (ionChange)="updateActualDate($event.detail.value)"
                        class="bg-transparent w-full text-lg"
                    >
                        ></ion-datetime
                    >
                </ng-template>
            </ion-modal>
        </form>
    </div>
</ion-content>
