<app-modal-header (outputStep)="controlSteps($event)" />

<ion-content #modalContainer style="--ion-background-color: linear-gradient(to top, #6ee7b7, #d1fae5)">
    <section class="h-fit min-h-full flex flex-col items-center justify-center bg-transparent mx-3">
        <header class="text-center  mb-4 flex flex-col">
            <h1 class="text-3xl font-semibold font-sans text-gray-800 mb-0">
                {{ 'MODALS.GOAL_MODAL.TITLE' | translate }}
            </h1>
            <h2 class="text-gray-700 text-lg text-pretty">
                {{ 'MODALS.GOAL_MODAL.MESSAGE' | translate }}
            </h2>
        </header>
        <form
            class="w-[85%] bg-white rounded-3xl shadow-2xl border-t-[10px] border-b-[10px] border-r-[5px] border-l-[5px] border-tertiary p-5 mx-0"
        >
            <app-weight-form
                [inputWeightValue]="lastWeight()"
                [inputWeightUnit]="lastWeightUnit()"
                (outputWeightValue)="updateActualWeight($event)"
            ></app-weight-form>

            <div class="flex space-x-3 p-5 justify-center items-center align-middle">
                <ion-toggle id="dateToggle" [checked]="isWithDate()" (ionChange)="toggleDate()">{{
                    'MODALS.GOAL_MODAL.DATE' | translate
                }}</ion-toggle>
            </div>
            @if (isWithDate()) {
                <ion-datetime-button id="date-button" datetime="datetime" />

                <ion-modal [keepContentsMounted]="true" class="DateTimeModal">
                    <ng-template>
                        <ion-datetime
                            showDefaultButtons ="true"
                            [cancelText]="'KEY_WORDS.CANCEL' | translate"
                            [doneText]="'KEY_WORDS.OK' | translate"

                            id="datetime"
                            presentation="date"
                            [locale]="language()"
                            hour-cycle="h23"
                            display-format="DD/MM/YYYY"
                            picker-format="DD/MM/YYYY"
                            [value]="nextDeadlineGoal.toISOString().substring(0, 16)"
                            max="2099-12-31"
                            [min]="actualDate.toISOString().substring(0, 16)"
                            (ionChange)="updateActualDate($event.detail.value)"
                            class="DateTimeContent"
                        >
                            ></ion-datetime
                        >
                    </ng-template>
                </ion-modal>
            }
        </form>
    </section>
</ion-content>
