<section class="flex flex-col space-y-4 mt-28">
    <ion-card-header class="flex justify-center items-center flex-col space-y-2">
        <ion-card-title class="font-extrabold">Weight Loss Pace</ion-card-title>
    </ion-card-header>
    <article class="flex-col space-y-5 items-center">
        <ion-card-subtitle class="text-center">Actual trend weight loss pace</ion-card-subtitle>
        @if (isTrend()) {
            <div class="flex justify-center items-center space-x-10">
                <ion-card
                    class="bg-[var(--color-tertiary)] rounded-xl p-5 text-center space-y-2 w-36 shadow-xl border-teal-600 border-2"
                >
                    <ion-card-subtitle class="text-[var(--color-accent)] font-sans font-extrabold"
                        >Months</ion-card-subtitle
                    >
                    <ion-card-title>{{ trendPaceMonth().toFixed(2) }} {{ weightUnits() }}</ion-card-title>
                </ion-card>

                <ion-card
                    class="bg-[var(--color-tertiary)] rounded-xl p-5 text-center space-y-2 w-36 shadow-xl border-teal-600 border-2"
                >
                    <ion-card-subtitle class="text-[var(--color-accent)] font-sans font-extrabold"
                        >Weeks</ion-card-subtitle
                    >
                    <ion-card-title>{{ trendPaceWeek().toFixed(2) }} {{ weightUnits() }}</ion-card-title>
                </ion-card>
            </div>
        } @else {
            <div
                class="flex justify-center items-center flex-col space-y-1 text-center font-sans font-bold text-gray-700 rounded-xl p-4 pb-8 bg-emerald-100 shadow-sm opacity-0 animate-fade-in mx-10"
            >
                <h1>No enough data</h1>
                <h2>to calculate the trend</h2>
            </div>
        }
    </article>

    <article class="flex-col space-y-5 items-center">
        <ion-card-subtitle class="text-center">Weight loss pace to reach the goal</ion-card-subtitle>
        @if (isGoal()) {
            <div class="flex justify-center items-center space-x-10">
                <ion-card
                    class="bg-[var(--color-tertiary)] rounded-xl p-5 text-center space-y-2 w-36 shadow-xl border-teal-600 border-2"
                >
                    <ion-card-subtitle class="text-[var(--color-accent)] font-sans font-extrabold"
                        >Months</ion-card-subtitle
                    >
                    <ion-card-title>{{ goalPaceMonth() * -1 }} {{ weightUnits() }}</ion-card-title>
                </ion-card>

                <ion-card
                    class="bg-[var(--color-tertiary)] rounded-xl p-5 text-center space-y-2 w-36 shadow-xl border-teal-600 border-2"
                >
                    <ion-card-subtitle class="text-[var(--color-accent)] font-sans font-extrabold"
                        >Weeks</ion-card-subtitle
                    >
                    <ion-card-title>{{ goalPaceWeek() * -1 }} {{ weightUnits() }}</ion-card-title>
                </ion-card>
            </div>
        } @else {
            <div
                class="flex justify-center items-center flex-col space-y-1 text-center font-sans font-bold text-gray-700 rounded-xl p-4 pb-8 bg-emerald-100 shadow-sm opacity-0 animate-fade-in mx-10"
            >
                <h1>Need to specify</h1>
                <h2>a goal date</h2>
            </div>
        }
    </article>
</section>
