<ion-header class="bg-transparent pt-4">
    <ion-toolbar class="bg-transparent">
        <ion-buttons slot="start" class="mx-1">
        @if (step !== 0 && headerMode() === headerEnum.Sequence || headerMode() === headerEnum.Back) {
                <ion-button
                    id="backBtn"
                    class="w-20 h-10"
                    style="--border-radius: 15px"
                    (click)="backStep()"
                    (keypress)="backStep()"
                    >Back</ion-button
                >
        } @else if (step == 0 && headerMode() === headerEnum.Static) {
                <ion-button
                    id="backBtn"
                    class="w-20 h-10"
                    style="--border-radius: 15px"
                    (click)="backStep()"
                    (keypress)="backStep()"
                    >Cancel</ion-button
                >
        }
        @else {
                <ion-button
                    id="BackBtnDisabled"
                    class="w-20 h-10"
                    style="--border-radius: 15px"
                    disabled="true"
                ></ion-button>
            }
        </ion-buttons>
        <div class="flex flex-row justify-center items-center mb-2">
            <img src="assets/icon/icon-app.png" alt="icon app" class="w-10 h-10" />
            <h1 class="text-center font-sans font-bold text-base m-0">Vita Weight</h1>
        </div>
        <ion-buttons slot="end" class="mx-1">
            @if (headerMode() == headerEnum.Back) {
                <ion-button
                    [id]="step === MAX_STEPS() ? 'confirmBtn' : 'nextBtn'"
                    class="w-24 h-10"
                    style="--border-radius: 15px"
                    color="primary"
                    strong="true"
                    (click)="nextStep()"
                    disabled="true"
                    (keypress)="nextStep()"
                    >{{ '' }}</ion-button
                >
            }
            @else {
                <ion-button
                    [id]="step === MAX_STEPS() ? 'confirmBtn' : 'nextBtn'"
                    class="w-24 h-10"
                    style="--border-radius: 15px"
                    color="primary"
                    strong="true"
                    (click)="nextStep()"
                    (keypress)="nextStep()"
                    >{{ step < MAX_STEPS() ? 'Next' : 'Confirm' }}</ion-button
                >
            }
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ng-content> </ng-content>
