<app-modal-header (outputStep)="controlSteps($event)" />

<ion-content style="--ion-background-color: linear-gradient(to top, #6ee7b7, #d1fae5)">
    <section class="h-full flex flex-col items-center justify-center space-y-5 pb-24">
        <header class="ion-text-center bg-inherit mt-10">
            <h1 class="font-sans font-semibold text-4xl mb-5">{{ 'MODALS.WEIGHT_REGISTER.TITLE' | translate }}</h1>
            <h2 class="text-center text-gray-700 text-lg mt-2 mx-2 text-pretty">
                {{ 'MODALS.WEIGHT_REGISTER.MESSAGE' | translate }}
            </h2>
        </header>


        <form
            class="w-[75%] bg-white rounded-3xl shadow-2xl border-t-[10px] border-b-[10px] border-r-[5px] border-l-[5px] border-tertiary p-5 mx-0"
        >
            <app-weight-form
                [inputWeightValue]="inputWeight?.weight ?? lastWeight()?.weight"
                [inputWeightUnit]="lastWeightUnit()"
                (outputWeightValue)="updateNextWeight($event)"
            />

            <ion-datetime-button datetime="datetime" class="mt-5" [translate]="language()" />
        </form>

        <ion-modal [keepContentsMounted]="true" class="DateTimeModal">
            <ng-template>
                <ion-datetime
                    showDefaultButtons ="true"
                    [cancelText]="'KEY_WORDS.CANCEL' | translate"
                    [doneText]="'KEY_WORDS.OK' | translate"

                    id="datetime"
                    [locale]="language()"
                    hour-cycle="h23"
                    display-format="DD/MM/YYYY"
                    picker-format="DD/MM/YYYY"
                    [value]="selectedDate()"
                    (ionChange)="updateNextDate($event.detail.value)"
                    class="DateTimeContent"
                />
            </ng-template>
        </ion-modal>

    </section>
</ion-content>
