<!-- Floating button positioned at the top-right -->
<ion-header class="h-8 w-full">
    <ion-toolbar  class="h-8 w-full flex justify-center align-middle items-center" style="--ion-background-color: var(--color-tertiary);">
        <ion-title class="bg-inherit mx-5">Untitled</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="h-full flex flex-col space-y-14 px-3 opacity-0 animate-fade-in" >
        <app-main-display [weights]="weights()" [goal]="goal()" (weightAdded)="addWeight($event)" class="mt-2.5" />
        <app-weight-graphic [weights]="weights()" [goal]="goal()" />
        <!-- <app-weight-display [weights]="weights" [goal]="goal" /> -->
    </div>
</ion-content>
