<div class="card flex items-center justify-center flex-col space-y-4 my-2">
    <div class="flex justify-center items-center flex-col space-y-2">
        <h1 class="text-center font-semibold text-3xl">Actual Weight</h1>
        <p-chart
            #chart
            id="doughnutChart"
            type="doughnut"
            [data]="data"
            [options]="options"
            [plugins]="plugins"
            class="w-56"
        />
    </div>
    <ion-button
        id="registerBtn"
        class="button-shadow w-40 h-12"
        style="--border-radius: 15px"
        (click)="openModal()"
        (keypress)="openModal()"
        [disabled]="isButtonActive()"
    >
        Register Weight
    </ion-button>
</div>
