<app-modal-header  (outputStep)="controlSteps($event)" />

<ion-content scrollY="false">
    <div
        class="h-full flex flex-col items-center text-center px-6 py-5 space-y-5 bg-gradient-to-tr from-emerald-100 to-emerald-300 w-full">

        <h1 class="text-3xl font-bold font-sans text-gray-800">Personal Information</h1>
        <p class="text-gray-700 text-lg text-pretty h-2">Please fill in your information.</p>
        <p class="text-lg h-4 text-teal-500">All fields are optional.</p>
        <app-user-form [inputUser]="inputUser()" (setUser)="updateUser($event)"></app-user-form>

    </div>
</ion-content>
