@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/*@import '@ionic/angular/css/palettes/dark.system.css';*/

:root {
    --color-primary: #f8f9fa;
    --color-secondary: #1e8260;
    --color-tertiary: #00bd7e;
    --color-accent: #343a40;
    --ion-color-primary: var(--color-tertiary);
}

* {
    --ion-primary-color: var(--color-tertiary);
    --ion-background-color: var(--color-primary);
    --ion-text-color: var(--color-accent);
    --ion-tab-bar-color: var(--color-accent);
    --ion-tab-bar-color-selected: var(--color-primary);
    --ion-tab-bar-background-color: var(--color-tertiary);
    --ion-tab-bar-background-color-selected: var(--color-secondary);

    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;

    margin: 0;
    padding: 0;
}

//Necesario para arreglar bug de picker
ion-datetime::part(wheel-item) {
    margin: 24px 0em !important;
}

.small-alert {
    .alert-wrapper {
        --width: 500px;
        background: var(--color-tertiary);
        border: 4px solid #156111;
        border-radius: 1.5rem;
        padding: 1rem;

    }

    .alert-message {
        font-size: 1rem;
        color: #f0fdfa;
        margin-bottom: 1rem;
        font-family: 'Inter', sans-serif;
        text-align: center;
    }

    .alert-button-group {
        justify-content: center;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .alert-button {
        border-radius: 0.75rem;
        font-weight: bold;

        &:first-child {
            background: transparent;
            border: none;
            color: #f0fdfa;
        }

        &:last-child {
            background: var(--ion-color-danger);
            color: #fff;
        }

    }
}

.bmi-popover-custom {
    --width: 300px;
    --height: auto;
    --border-radius: 16px;
    --box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}





body {
    margin: 0;
    padding: 0;
}
