@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/*@import '@ionic/angular/css/palettes/dark.system.css';*/

:root {
    --color-primary: #f8f9fa;
    --color-secondary: #1e8260;
    --color-tertiary: #00bd7e;
    --color-accent: #343a40;
    --ion-color-primary: var(--color-tertiary);
}

* {
    --ion-primary-color: var(--color-tertiary);
    --ion-background-color: var(--color-primary);
    --ion-text-color: var(--color-accent);
    --ion-tab-bar-color: var(--color-accent);
    --ion-tab-bar-color-selected: var(--color-primary);
    --ion-tab-bar-background-color: var(--color-tertiary);
    --ion-tab-bar-background-color-selected: var(--color-secondary);

    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: 0;
    padding: 0;
}

/* Necesario para arreglar bug de picker */
ion-datetime::part(wheel-item) {
    margin: 24px 0em !important;
}

.small-alert {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);

    .alert-title {
        text-align: center;
        font-weight: bold;
        text-wrap: pretty;
    }

    .alert-wrapper {
        @apply border-secondary border-4 rounded-xl;
        --width: 500px;

        background: var(--color-tertiary);
        text-align: center;
    }

    .alert-message {
        @apply text-balance;
        font-size: 0.9rem;
        color: #f0fdfa;
        margin: 0.4rem;
        padding: 0.6rem;
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .alert-button-group {
        justify-content: space-evenly;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 1.5em;
    }

    .alert-button {
        border-radius: 0.75rem;
        font-weight: bold;

        &:first-child {
            background: white;
            color: #000000;
        }

        &:last-child {
            background: var(--ion-color-danger);
            color: #fff;
        }
    }
}

.alert-info {
    .alert-title {
        @apply text-teal-800;
    }

    .alert-wrapper {
        background: #f4f4f4;

        .alert-button {
            @apply bg-tertiary border-tertiary border-2;
            border-radius: 0.75rem;
            width: 80%;
            font-weight: bold;
            color: #f4f4f4;

            .alert-button-inner.sc-ion-alert-md {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .alert-message {
            @apply text-accent;
            text-align: center;
        }
    }
}

.alert-warning {
    .alert-title {
        @apply text-teal-800;
    }

    .alert-wrapper {
        @apply border-yellow-500 border-4 rounded-xl;
        background: #fcf68c;

        .alert-button {
            @apply bg-amber-500;
            border-radius: 0.75rem;
            width: 80%;
            font-weight: bold;
            color: #f4f4f4;

            .alert-button-inner.sc-ion-alert-md {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .alert-message {
            text-wrap: pretty;
            color: #242424;
            margin-bottom: 1rem;
            text-align: center;
        }
    }
}

.alert-danger {
    .alert-wrapper {
        @apply border-red-900 border-4 rounded-xl;
        background: #ffb2b2;
        text-align: center;
    }

    .alert-title {
        @apply text-teal-800;
    }

    .alert-button {
        width: 80%;
        color: #f4f4f4;

        .alert-button-inner.sc-ion-alert-md {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .alert-message {
        @apply text-accent;
        text-align: center;
    }
}

.export-alert {
    .alert-button {
        border-radius: 0.75rem;
        font-weight: bold;
        display: flex;

        &:first-child {
            background: var(--ion-color-danger);
            border: none;
            color: #f0fdfa;
        }

        &:last-child {
            background: white;
            color: #000000;
        }
    }
}

.bmi-popover-custom {
    --width: 300px;
    --height: auto;
    --border-radius: 16px;
    --box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

body {
    margin: 0;
    padding: 0;
}

.DateTimeModal {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);


    &::part(content) {
        @apply rounded-xl text-xl w-10/12 flex justify-center p-3 pt-4;
    }
}

.DateTimeContent {
    @apply bg-primary;

    &::part(calendar-day) {
        @apply  text-base font-semibold;
    }
}
